@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Nico Moji';
  src: url('../ECOPlay - Site Apresentativo Challenge/assets/fontes/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes logo-nav-animation {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes content-fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}